@import url('https://fonts.googleapis.com/css?family=Poppins:400,600&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    border: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

h3 {
    font-size: 52px;
}

.align-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.align-end {
    align-items: flex-end;
}

.header {  
    background: url('images/background-header.png') no-repeat;
    background-size: cover;
    min-height: 100vh;
    min-width: 100%;
    background-size: cover;
    color:#FFF;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.header img {
    width: 140px;
    height: 110px;
    margin: 4em;
}

.header p {
    font-size: 64px;
    width: 12em;
    word-wrap: break-word; 
    margin-bottom: 0.5em; 
}

.header button {
    height: 51px;
    width: 245px;
    background-color: #FFF;
    color: #5f5f5f;
}

.container {
    padding-left: 5em;
    padding-right: 5em;
    padding-top: 2em;
    color : #383838;
}

.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: baseline;
}

.card {
    flex:1;
    background: no-repeat;
    padding: 3%;
    height: 300px;
    color: #FFF;
    display: flex;
    margin: 1%;
    flex-direction: column;
    
}

.card-small {
    flex: 0 1 auto;
    width: 370px;
}

.card-medium {
    flex: 0 1 auto;
    width: 770px;
}

.card-large {
	flex: 0 1 auto;
    width: 100vw;
}

.img1 {
    background-image: url('./images/card1.png');
}

.img2 {
    background-image: url('./images/card2.png'); 
}

.img3 {
    background-image: url('./images/card3.png');
}

.img4 {
    background-image: url('./images/card4.png');
}

.img5 {
    background-image: url('./images/card5.png');
}

.footer{
    background-color: #f4f4f4;
}
.blocos {
    display: flex;
    align-items: flex-end;
}

.bloco {
    background-color: #0088ed;
    height: 30vh;
    width: 20vw;
    margin: 1%;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.bloco p {
    font-size: 12px;
    margin-top: auto;
    padding: 8%;
    font-style: normal;
    font-weight: 400;
}
.header-bloco {
    background-color: #005499;
    padding: 8%;
}